[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
"discord.py" = {extras = ["voice"], version = "*"}
gtts = "*"
sqlalchemy = "*"
beautifulsoup4 = "*"
colorama = "*"
psycopg2 = "*"
discord-py-slash-command = "*"
pynacl = "*"
youtube-dl = "*"

[requires]
python_version = "3.9"
