[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
gtts = "*"
sqlalchemy = "*"
psycopg2 = "*"
beautifulsoup4 = "*"
"discord.py" = "*"

[requires]
python_version = "3.9"
